body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  background-color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  background-color: #fff !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container:hover #cta-button {
    background-color: #cd162d; }
  #container:active #cta-button {
    background-color: #9f1123; }

#background {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 0; }

#top {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 138px;
  left: 8px; }

#dish-wrapper {
  position: absolute;
  width: 37px;
  height: 15px;
  left: 8px;
  top: 16px;
  background-color: #fff !important;
  z-index: 4; }

#line-wrapper {
  position: absolute;
  width: 4px;
  height: 15px;
  left: 48px;
  top: 16px;
  background-color: #fff !important;
  z-index: 4; }

#google-wrapper {
  position: absolute;
  width: 91px;
  height: 15px;
  left: 54px;
  top: 16px;
  background-color: #fff !important;
  z-index: 4; }

#headline-1 {
  position: absolute;
  width: 128px;
  height: 48px;
  top: 3px;
  left: 162px;
  font-size: 12px;
  line-height: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start; }

#headline-2 {
  position: absolute;
  width: 140px;
  height: 48px;
  top: 3px;
  left: 154px;
  font-size: 12px;
  line-height: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start; }

#subhead {
  position: absolute;
  width: 140px;
  height: 34px;
  top: 34px;
  left: 154px;
  font-size: 10px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start; }

#product {
  position: absolute;
  width: 28px;
  height: 45px;
  right: 15px;
  bottom: 0px;
  z-index: 1; }

#dot-1 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 166px;
  top: 14px; }

#dot-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 184px;
  top: 14px; }

#dot-3 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 202px;
  top: 14px; }

#dot-4 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 220px;
  top: 14px; }

#cta-wrapper {
  position: absolute;
  width: 127px;
  height: 41px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start; }

#cta-button {
  position: absolute;
  font-size: 11px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 7px 16px 6px;
  border-radius: 25px;
  border: 1px solid #fff !important;
  background-color: #e41932; }

#restrictions {
  position: absolute;
  bottom: 2px;
  font-size: 7pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #696972; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 48px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }
