body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  cursor: pointer; }
  #container:hover {
    cursor: pointer; }
    #container:hover #arrow {
      -webkit-transform: translate(2px, -1.3px) scale(1.3);
              transform: translate(2px, -1.3px) scale(1.3); }

#beacon {
  position: absolute;
  left: 16px;
  top: 27px;
  width: 34px;
  height: 34px;
  z-index: 20; }

#logo {
  position: absolute;
  left: 56px;
  top: 32px;
  width: 97px;
  height: 34px; }

#google-logo {
  position: absolute;
  left: 186px;
  top: 33px;
  width: 98px;
  height: 32px;
  z-index: 3; }

#rule {
  position: absolute;
  left: 169px;
  top: 32px;
  width: 2px;
  height: 34px;
  background: #D8D8D8; }

#bg {
  position: absolute;
  left: 0px;
  top: 295px;
  width: 300px;
  height: 305px;
  background: #1793af;
  background: -webkit-gradient(linear, left top, right top, from(#1793af), to(#4aaec8));
  background: linear-gradient(to right, #1793af 0%, #4aaec8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1793af', endColorstr='#4aaec8',GradientType=1 );
  z-index: 2; }

.header {
  position: absolute;
  left: 18px;
  top: 99px;
  font-size: 46px;
  line-height: 48px;
  letter-spacing: -0.29;
  font-family: "proximanova_thin", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

.subhead {
  position: absolute;
  left: 16px;
  top: 98px;
  font-size: 24px;
  line-height: 27px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

#google-screen {
  position: absolute;
  left: 0px;
  top: 303px;
  width: 426px;
  height: 262px;
  z-index: 10; }
  #google-screen img {
    width: 100%;
    height: 100%; }

.image-container {
  position: absolute;
  left: 20px;
  top: 263px;
  width: 280px;
  height: 283px;
  z-index: 10;
  overflow: hidden;
  background: red; }
  .image-container img {
    width: 100%;
    height: 100%; }

#ontech-lady {
  position: absolute;
  left: -143px;
  top: -45px;
  width: 492px;
  height: 329px;
  z-index: 10; }
  #ontech-lady img {
    width: 100%;
    height: 100%; }

#cta-wrapper {
  position: relative;
  left: 16px;
  top: 172px;
  width: 149px;
  height: 31px; }

#cta {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #002EF1; }

#arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  #arrow img {
    width: 100%;
    height: 100%; }

#restrictions {
  position: absolute;
  left: 10.5px;
  top: 581px;
  font-size: 9px;
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  color: #292938;
  z-index: 10; }
