body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 48px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background: #F5F5F6; }

#beacon {
  position: absolute;
  left: 8px;
  top: 5px;
  width: 15px;
  height: 15px;
  z-index: 20; }

#logo {
  position: absolute;
  left: 25px;
  top: 5px;
  width: 48px;
  height: 14px; }

#google-logo {
  position: absolute;
  left: 8px;
  top: 30px;
  width: 45px;
  height: 15px;
  z-index: 3; }
  #google-logo img {
    width: 100%;
    height: 100%; }

#rule {
  position: absolute;
  left: 9px;
  top: 25px;
  width: 15px;
  height: 1px;
  background: #D8D8D8; }

.header {
  position: absolute;
  left: 89px;
  top: 18px;
  font-size: 14px;
  line-height: 21px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

.subhead {
  position: absolute;
  left: 89px;
  top: 21px;
  font-size: 11px;
  line-height: 12px;
  font-family: "proximanova_semibold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

#exclusive-text {
  position: absolute;
  left: 89px;
  top: 10px;
  font-size: 7px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #E8603A;
  z-index: 10;
  text-transform: uppercase; }

#save-text {
  position: absolute;
  left: 237px;
  top: 7px;
  font-size: 8px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #0015EA;
  z-index: 10; }

#product {
  position: absolute;
  left: 0px;
  top: -10px;
  width: 300px;
  height: 68px;
  z-index: 10; }
  #product img {
    width: 100%;
    height: 100%; }

.image-container {
  position: absolute;
  left: 454px;
  top: -9px;
  width: 127px;
  height: 90px;
  z-index: 10;
  overflow: hidden; }
  .image-container img {
    width: 100%;
    height: 100%; }

#ontech-person {
  position: absolute;
  left: -68px;
  top: -4px;
  width: 202px;
  height: 134px;
  z-index: 10; }
  #ontech-person img {
    width: 100%;
    height: 100%; }

#cta-wrapper {
  position: relative;
  top: 16.5px;
  left: 226px;
  width: 66px;
  height: 30px;
  z-index: 5000; }

#cta-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 20px;
  border-radius: 16px;
  z-index: 10;
  background-color: #384AFF; }

#cta-button-inset {
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 20px;
  border-radius: 16px;
  z-index: 8;
  background-color: #0013D1;
  -webkit-transform: translateY(3px);
          transform: translateY(3px); }

#cta-text {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 66px;
  text-align: center; }

#restrictions {
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 8px;
  width: 66px;
  position: absolute;
  top: 24px;
  left: 0;
  color: #292938;
  text-align: center; }
