body {
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container:hover #cta-button {
    background-color: #b41227; }
  #container:active #cta-button {
    background-color: #710c19; }

#background-1 {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  z-index: 1; }

#background-2 {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  z-index: 1; }

#background-solo {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  z-index: 0; }

#top {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 54px;
  top: 25px; }

#headline {
  position: absolute;
  width: 260px;
  height: 114px;
  top: 61px;
  font-size: 25px;
  line-height: 28px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

#subhead {
  position: absolute;
  width: 155px;
  height: 137px;
  top: 406px;
  font-size: 24px;
  line-height: 28px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: center; }

#subhead-2 {
  position: absolute;
  width: 195px;
  height: 137px;
  top: 406px;
  font-size: 24px;
  line-height: 28px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: center; }

#cta-wrapper {
  position: absolute;
  width: 300px;
  height: 94px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start; }

#cta-button {
  position: absolute;
  font-size: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid #FFFFFF !important;
  background-color: #e41932; }

#restrictions {
  position: absolute;
  bottom: 40px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #171725; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

.bold {
  font-family: "proximanova_extrabold";
    font-family-display: block;
    font-family-margin: 4px 0 0 0; }
