body {
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #171725;
  background-color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container:hover #cta-button {
    background-color: #0010b7;
    color: white; }
  #container:active #cta-button {
    background-color: #000a6b;
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
    color: white; }

#blue-top {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 77px;
  background: #0015EA;
  z-index: -5; }

#thermostat {
  position: absolute;
  top: 216px;
  left: 140px;
  z-index: 2; }
  #thermostat img {
    width: 100%;
    height: 100%; }

#lightbulb {
  position: absolute;
  top: 345px;
  left: 14px;
  z-index: 2; }
  #lightbulb img {
    width: 100%;
    height: 100%; }

#google-mini {
  position: absolute;
  top: 512px;
  left: 130px;
  z-index: 2; }
  #google-mini img {
    width: 100%;
    height: 100%; }

#top {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#beacon {
  position: absolute;
  width: 29px;
  top: 35px;
  left: 16px;
  z-index: 10; }

#logo {
  position: absolute;
  width: 86px;
  height: auto;
  top: 37px;
  left: 51px;
  z-index: 10; }

#headline {
  position: absolute;
  width: 260px;
  left: 16px;
  height: 117px;
  top: 103px;
  font-size: 32px;
  letter-spacing: -.2px;
  line-height: 36px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: Left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: left;
          align-items: left;
  z-index: 2; }

#headline-2 {
  position: absolute;
  width: 260px;
  left: 16px;
  height: 117px;
  top: 103px;
  font-size: 32px;
  letter-spacing: -.2px;
  line-height: 36px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: Left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: left;
          align-items: left;
  z-index: 2; }

#subhead {
  position: absolute;
  width: 258px;
  height: 48px;
  left: 16px;
  top: 231px;
  font-size: 20px;
  line-height: 24px;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 2; }

#cta-wrapper {
  position: absolute;
  width: 168px;
  height: 50px;
  left: 16px;
  top: 306px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start; }

#cta-button {
  position: absolute;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: white;
  padding: 9px 22px 8px;
  border-radius: 25px;
  background-color: #0015EA; }

#cta-button-under {
  position: absolute;
  z-index: -1;
  font-size: 14px;
  top: 3px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: white;
  padding: 9px 22px 8px;
  border-radius: 25px;
  background-color: #000A6B; }

#restrictions {
  position: absolute;
  top: 38px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #171725; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

.bold {
  font-family: "proximanova_extrabold";
    font-family-display: block;
    font-family-margin: 4px 0 0 0; }

/* confetti canvas  */
#particle-canvas {
  display: block;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
