body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 726px;
  height: 88px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0px;
  left: 0px;
  cursor: pointer; }
  #container:hover #cta-button {
    background-color: #e6e6e6; }
  #container:active #cta-button {
    background-color: #cccccc;
    transform: translateY(3px); }

#flag-video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 728px;
  height: 90px;
  z-index: -2; }

#video-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 728px;
  height: 90px;
  background: -moz-linear-gradient(45deg, rgba(22, 23, 36, 0.68) 0%, #30324a 100%);
  background: -webkit-linear-gradient(45deg, rgba(22, 23, 36, 0.68) 0%, #30324a 100%);
  background: linear-gradient(45deg, rgba(22, 23, 36, 0.68) 0%, #30324a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad161724', endColorstr='#30324a',GradientType=1 );
  z-index: 2;
  opacity: 0; }

#bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 728px;
  height: 90px;
  z-index: -10;
  background: #9d2235;
  background: -moz-linear-gradient(left, #9d2235 0%, #e41932 100%);
  background: -webkit-linear-gradient(left, #9d2235 0%, #e41932 100%);
  background: linear-gradient(to right, #9d2235 0%, #e41932 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d2235', endColorstr='#e41932',GradientType=0 );
  opacity: 0; }

#logo {
  position: absolute;
  left: 16px;
  top: 31px;
  width: 85px;
  height: 28px;
  z-index: 3; }

.header {
  position: absolute;
  left: 128px;
  top: 9px;
  font-size: 20px;
  line-height: 24px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  width: 728px;
  z-index: 10; }

#gift-wrapper {
  position: absolute;
  left: 433px;
  top: 9px;
  width: 158px;
  transform: rotate(-20deg); }
  #gift-wrapper img {
    width: 100%;
    height: 100%; }

#gift-card-price {
  position: absolute;
  top: 9px;
  right: 23px;
  font-size: 14px;
  line-height: 36px; }

#cta-wrapper {
  position: relative;
  top: 29px;
  left: 605px;
  width: 107px;
  height: 42px;
  z-index: 15; }

#cta-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 107px;
  height: 32px;
  border-radius: 16px;
  z-index: 10;
  background-color: #ffffff; }

#cta-button-inset {
  position: absolute;
  top: 0;
  left: 0;
  width: 107px;
  height: 32px;
  border-radius: 16px;
  z-index: 8;
  background-color: #BFBFBF;
  transform: translateY(3px); }

#cta-text {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #18182A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 107px;
  text-align: center; }

#restrictions {
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 107px;
  position: absolute;
  top: 38px;
  left: 0;
  color: #ffffff;
  text-align: center; }
