body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  background-color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  background-color: #fff !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container:hover #cta-button {
    background-color: #cd162d; }
  #container:active #cta-button {
    background-color: #9f1123; }

#background {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  z-index: 0; }

#top {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 271px;
  top: 212px;
  z-index: 3; }

#dish-wrapper {
  position: absolute;
  width: 73px;
  height: 30px;
  left: 15px;
  top: 211px;
  background-color: #fff !important;
  z-index: 4; }

#line-wrapper {
  position: absolute;
  width: 7px;
  height: 30px;
  left: 92px;
  top: 211px;
  background-color: #fff !important;
  z-index: 4; }

#google-wrapper {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 100px;
  top: 211px;
  background-color: #fff !important;
  z-index: 4; }

#headline-1 {
  position: absolute;
  width: 208px;
  height: 87px;
  top: 31px;
  left: 16px;
  font-size: 24px;
  line-height: 28px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start; }

#headline-2 {
  position: absolute;
  width: 208px;
  height: 87px;
  top: 31px;
  left: 16px;
  font-size: 24px;
  line-height: 28px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start; }

#subhead {
  position: absolute;
  width: 174px;
  height: 19px;
  left: 16px;
  top: 122px;
  font-size: 14px;
  line-height: 19px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #696972;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start; }

#product {
  position: absolute;
  width: 70px;
  height: 163px;
  top: 134px;
  right: 4px;
  z-index: 1; }

#dot-1 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 79px;
  top: 160px; }

#dot-2 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 94px;
  top: 160px; }

#dot-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 109px;
  top: 160px; }

#dot-4 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 124px;
  top: 160px; }

#footer-wrapper {
  position: absolute;
  width: 300px;
  height: 50px;
  bottom: 0px;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 2; }

#cta-wrapper {
  position: absolute;
  width: 151px;
  height: 46px;
  right: 2px;
  bottom: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start; }

#cta-button {
  position: absolute;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 8px 22px 7px;
  border-radius: 25px;
  border: 1px solid #fff !important;
  background-color: #e41932; }

#restrictions {
  position: absolute;
  bottom: 1px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #696972; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 248px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }
