body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 726px;
  height: 88px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background: #F5F5F6; }
  #container:hover #cta-button {
    background-color: #051cff; }
  #container:active #cta-button {
    background-color: #0013d1;
    transform: translateY(3px); }

#beacon {
  position: absolute;
  left: 16px;
  top: 11px;
  width: 25px;
  height: 25px;
  z-index: 20; }
  #beacon img {
    width: 100%;
    height: 100%; }

#logo {
  position: absolute;
  left: 48px;
  top: 10px;
  width: 85px;
  height: 27px; }
  #logo img {
    width: 100%;
    height: 100%; }

#google-logo {
  position: absolute;
  left: 16px;
  top: 55px;
  width: 74px;
  height: 27px;
  z-index: 3; }
  #google-logo img {
    width: 100%;
    height: 100%; }

#rule {
  position: absolute;
  left: 17px;
  top: 45px;
  width: 27px;
  height: 2px;
  background: #D8D8D8; }

.header {
  position: absolute;
  left: 166px;
  top: 41px;
  font-size: 32px;
  line-height: 26px;
  letter-spacing: -0.2px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

.subhead {
  position: absolute;
  left: 166px;
  top: 38px;
  font-size: 20px;
  line-height: 23px;
  font-family: "proximanova_semibold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

#exclusive-text {
  position: absolute;
  left: 166px;
  top: 16px;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #E8603A;
  z-index: 10;
  text-transform: uppercase; }

#save-text {
  position: absolute;
  left: 621px;
  top: 16px;
  font-size: 13px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #0015EA;
  z-index: 10; }

#product {
  position: absolute;
  left: 0px;
  top: -14px;
  width: 720px;
  height: 118px;
  z-index: 10; }
  #product img {
    width: 100%;
    height: 100%; }

.image-container {
  position: absolute;
  left: 454px;
  top: -9px;
  width: 127px;
  height: 90px;
  z-index: 10;
  overflow: hidden; }
  .image-container img {
    width: 100%;
    height: 100%; }

#ontech-person {
  position: absolute;
  left: -39px;
  top: 12px;
  width: 202px;
  height: 134px;
  z-index: 10; }
  #ontech-person img {
    width: 100%;
    height: 100%; }

#cta-wrapper {
  position: relative;
  top: 30px;
  left: 599px;
  width: 114px;
  height: 42px;
  z-index: 5000; }

#cta-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 32px;
  border-radius: 16px;
  z-index: 10;
  background-color: #384AFF; }

#cta-button-inset {
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 32px;
  border-radius: 16px;
  z-index: 8;
  background-color: #0013D1;
  transform: translateY(3px); }

#cta-text {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 114px;
  text-align: center; }

#restrictions {
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 114px;
  position: absolute;
  top: 38px;
  left: 0;
  color: #292938;
  text-align: center; }
