body {
  font-family: "brandon-text-black", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  cursor: pointer;
  background: #10069F; }
  #container:hover #cta-button {
    background-color: #dd8805; }
  #container:active #cta-button {
    background-color: #ab6904;
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px); }

.header {
  position: absolute;
  left: 0;
  top: 138px;
  width: 300px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.58px;
  font-family: "brandon-text-black", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  z-index: 10; }

.yellow {
  color: #FFB300; }

#sling-logo {
  position: absolute;
  left: 96px;
  top: 17px;
  width: 108.3px;
  height: 57px;
  z-index: 3; }

#donkey {
  position: absolute;
  left: -159px;
  top: 381px;
  width: 262px;
  height: 286px;
  z-index: 3; }

#elephant {
  position: absolute;
  left: 175px;
  top: 413px;
  width: 283px;
  height: 215px;
  z-index: 3; }

#cta-wrapper {
  position: absolute;
  top: 322px;
  left: 96px;
  width: 114px;
  height: 39px;
  z-index: 5000; }

@media (max-width: 640px) {
  .header {
    font-size: 32px !important;
    line-height: 38px !important;
  }
}

#cta-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 32px;
  border: 1px solid #001E60;
  background-color: #FAA21B;
  z-index: 5002; }

#cta-button-under {
  position: absolute;
  top: 3px;
  left: -2px;
  width: 114px;
  height: 32px;
  border-radius: 2px;
  z-index: 9;
  border: 1px solid #001E60;
  background-color: #001E60;
  z-index: 5001; }

#cta-text {
  font-family: "brandon-text-black", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #001E60;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 108px;
  text-align: center; }

#restrictions {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  width: 114px;
  top: 37px;
  left: 2px;
  color: white;
  text-align: center; }
