body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container img {
    width: 100%;
    height: auto; }
  #container:visited #cta-button {
    background-color: #e41932; }
  #container:hover #cta-button {
    background-color: #b61428; }
  #container:active #cta-button {
    background-color: #710c19; }

#background {
  position: absolute;
  width: 300px;
  height: 463px;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: #c02236;
  z-index: -5; }

#tv-bg {
  position: absolute;
  top: 267px;
  left: 0px;
  z-index: -4;
  width: 300px;
  height: 206px; }

#tv-video {
  position: absolute;
  width: 204px;
  height: 116px;
  top: 269px;
  left: 50px;
  z-index: 10; }

#top {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 60px;
  top: 33px; }

#headline {
  position: absolute;
  width: 280px;
  height: 210px;
  top: 55px;
  font-size: 24px;
  line-height: 28px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

#subhead {
  position: absolute;
  top: 472px;
  width: 280px;
  height: 61px;
  font-size: 16px;
  line-height: 18px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

#cta-button {
  position: absolute;
  top: 0px;
  font-size: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid #fff;
  background-color: #e41932; }

#restrictions {
  position: absolute;
  top: 41px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #000; }

#cta-wrapper {
  position: absolute;
  width: 280px;
  height: 67px;
  bottom: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }
