body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 248px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  margin: 0;
  overflow: hidden;
  background: #fff; }
  #container:hover #cta-button {
    background-color: #e6e6e6; }
  #container:hover #arrow {
    -webkit-transform: translate(1px, -1px) scale(1.3);
            transform: translate(1px, -1px) scale(1.3); }
  #container:active #cta-button {
    background-color: #cccccc;
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }

.header {
  position: absolute;
  left: 32px;
  top: 110px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.1px;
  z-index: 16;
  color: #171725; }

#logo {
  position: absolute;
  left: 230px;
  top: 220px;
  width: 61px;
  height: 22px;
  z-index: 20; }

#car-icon {
  position: absolute;
  left: 32px;
  top: 8px;
  width: 94px;
  height: 94px;
  z-index: 20; }

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 300px;
  background: #F01446; }

#calc-wrapper {
  position: absolute;
  top: 192px;
  left: 32px;
  z-index: 10000;
  cursor: pointer;
  width: 200px; }

#calc-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
  color: #E41932; }

#arrow {
  position: absolute;
  left: 120px;
  top: 1px;
  width: 12px;
  height: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 15000; }
  #arrow img {
    width: 100%;
    height: 100%; }

#restrictions {
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  position: absolute;
  top: 232px;
  left: 32px;
  color: #696972;
  z-index: 19; }
