body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container img {
    width: 100%;
    height: auto; }
  #container:visited #cta-button {
    background-color: #fff; }
  #container:hover #cta-button {
    background-color: #e6e6e6; }
  #container:active #cta-button {
    background-color: #bfbfbf; }

#background {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: #c02236;
  z-index: -5; }

#tv-bg {
  position: absolute;
  top: 4px;
  left: 197px;
  z-index: -4;
  width: 94px;
  height: 46px; }

#tv-video {
  position: absolute;
  width: 65px;
  height: 37px;
  top: 5px;
  left: 211.74px;
  z-index: 10; }

#top {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 38px;
  top: 17px;
  left: 10px; }

#headline-1 {
  position: absolute;
  width: 138px;
  height: 50px;
  top: 0px;
  left: 57px;
  font-size: 12px;
  line-height: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center; }

#headline-2 {
  position: absolute;
  width: 138px;
  height: 50px;
  top: 0px;
  left: 57px;
  font-size: 12px;
  line-height: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center; }

#subhead {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 172px;
  height: 44px;
  font-size: 13px;
  line-height: 15px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000;
  display: -webkit-box;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

#cta-wrapper {
  right: 10px;
  position: absolute;
  width: 92px;
  height: 41px;
  bottom: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start; }

#cta-button {
  position: absolute;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000;
  background: white;
  font-size: 11px;
  border-radius: 32px;
  padding: 7px 15px 6px;
  z-index: 10; }

#restrictions {
  position: absolute;
  top: 28px;
  font-size: 7pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #ffffff; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 48px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }
