body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 248px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  cursor: pointer; }
  #container:hover {
    cursor: pointer; }
    #container:hover #arrow {
      -webkit-transform: translate(2px, -1.3px) scale(1.3);
              transform: translate(2px, -1.3px) scale(1.3); }

#beacon {
  position: absolute;
  left: 16px;
  top: 13px;
  width: 32px;
  height: 32px;
  z-index: 20; }

#logo {
  position: absolute;
  left: 54px;
  top: 19.22px;
  width: 92px;
  height: 31.78px; }

#google-logo {
  position: absolute;
  left: 16px;
  top: 60px;
  width: 78px;
  height: 26px;
  z-index: 3; }

#rule {
  position: absolute;
  left: 17px;
  top: 51px;
  width: 27px;
  height: 2px;
  background: #D8D8D8; }

#bg {
  position: absolute;
  left: 204px;
  top: 0px;
  width: 96px;
  height: 250px;
  background: #1793af;
  background: -webkit-gradient(linear, left top, left bottom, from(#1793af), color-stop(50%, #4aaec8), to(#1793af));
  background: linear-gradient(to bottom, #1793af 0%, #4aaec8 50%, #1793af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1793af', endColorstr='#1793af',GradientType=0 );
  z-index: 2; }

.header {
  position: absolute;
  left: 18px;
  top: 75px;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.1;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

.subhead {
  position: absolute;
  left: 16px;
  top: 104px;
  font-size: 14px;
  line-height: 17px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

#google-screen {
  position: absolute;
  left: 96px;
  top: 24px;
  width: 250px;
  height: 250px;
  z-index: 10; }
  #google-screen img {
    width: 100%;
    height: 100%; }

.image-container {
  position: absolute;
  left: 165px;
  top: 35px;
  width: 126px;
  height: 200px;
  z-index: 10;
  overflow: hidden; }
  .image-container img {
    width: 100%;
    height: 100%; }

#ontech-lady {
  position: absolute;
  left: -79px;
  top: 0px;
  width: 300px;
  height: 200px;
  z-index: 10; }
  #ontech-lady img {
    width: 100%;
    height: 100%; }

#cta-wrapper {
  position: relative;
  left: 16px;
  top: 180px;
  width: 98px;
  height: 21px; }

#cta {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #002EF1; }

#arrow {
  position: absolute;
  bottom: 8px;
  right: 0;
  width: 12px;
  height: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  #arrow img {
    width: 100%;
    height: 100%; }

#restrictions {
  position: absolute;
  left: 8px;
  top: 231px;
  font-size: 8pt;
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  color: #292938;
  z-index: 10; }
