body {
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container:hover #cta-button {
    background-color: #b41227;
    color: white; }
  #container:active #cta-button {
    background-color: #710c19;
    color: white; }

#background {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  z-index: 1; }

#present {
  position: absolute;
  top: 310px;
  left: 0px;
  z-index: 2; }

#family {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2; }

#top {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 243px;
  top: 33px;
  left: 16px; }

#headline {
  position: absolute;
  width: 260px;
  height: 114px;
  top: 92px;
  font-size: 32px;
  line-height: 34px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-align: Left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: left;
          align-items: left; }

#headline-2 {
  position: absolute;
  width: 260px;
  height: 114px;
  top: 92px;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 34px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-align: Left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: left;
          align-items: left; }

#subhead {
  position: absolute;
  width: 250px;
  height: 137pxz;
  top: 168px;
  font-size: 18px;
  letter-spacing: -.5px;
  line-height: 22px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-align: left; }

#subhead-2 {
  position: absolute;
  width: 195px;
  height: 137px;
  top: 406px;
  font-size: 24px;
  line-height: 28px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: center; }

#cta-wrapper {
  position: absolute;
  width: 300px;
  height: 90px;
  right: 0px;
  top: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: start;
          align-items: flex-start; }

#cta-button {
  left: 16px;
  position: absolute;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: black;
  padding: 9px 22px 8px;
  border-radius: 25px;
  border: 1px solid #45372d;
  background-color: white; }

#restrictions {
  position: absolute;
  top: 36px;
  left: 30.5px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #FFFFFF; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

.bold {
  font-family: "proximanova_extrabold";
    font-family-display: block;
    font-family-margin: 4px 0 0 0; }
