body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 160px;
  height: 600px;
  top: 0px;
  left: 0px;
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center; }

#background {
  position: absolute;
  width: 160px;
  height: 600px;
  top: 0px;
  left: 0px;
  z-index: 0; }

#top {
  position: absolute;
  width: 160px;
  height: 600px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 70px;
  top: 33px; }

#giftcard {
  position: absolute;
  top: 358px;
  width: 120px;
  height: 86px; }

#headline-1 {
  position: absolute;
  width: 132px;
  height: 120px;
  top: 77px;
  font-size: 28px;
  line-height: 28px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#subhead {
  position: absolute;
  width: 95px;
  height: 50px;
  bottom: 104px;
  font-size: 16px;
  line-height: 20px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#headline-2 {
  position: absolute;
  width: 132px;
  height: 120px;
  top: 77px;
  font-size: 27px;
  line-height: 28px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#asterisk {
  position: absolute;
  top: 166px;
  right: 10px;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000; }

#disclaimer {
  position: absolute;
  bottom: 22px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #000; }

#cta-button {
  position: absolute;
  bottom: 55px;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 9px 22px 8px;
  border-radius: 25px;
  border: 1px solid #fff !important;
  background-color: #f01446; }

#container:visited #cta-button {
  background-color: #f01446; }

#container:hover #cta-button {
  background-color: #cc113c; }

#container:active #cta-button {
  background-color: #9c0d2e; }

#restrictions {
  position: absolute;
  bottom: 39px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #000;
  align-items: center; }

#cta-wrapper {
  position: absolute;
  width: 160px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

#blackborder {
  position: absolute;
  width: 158px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 5000; }
