//custom variables
$banner-width: 160px
$banner-height: 600px
$border-width: $banner-width - 2px
$border-height: $banner-height - 2px
$bg-color: #FFFFFF !important
$font-primary: 'proximanova_bold', Helvetica, Arial, sans-serif
$font-secondary: 'proximanova_regular', Helvetica, Arial, sans-serif
$font-tertiary: 'proximanova_extrabold', Helvetica, Arial, sans-serif
$text-color-primary: #171725
$text-color-secondary: #171725
$cta-text-color: #FFFFFF
$button-background: #0015EA

body
	font-family: $font-primary
	color: $text-color-primary
	background-color: $bg-color
	-webkit-font-smoothing: antialiased
	-moz-font-smoothing: antialiased

#container
	position: absolute
	width: $banner-width
	height: $banner-height
	top: 0px
	left: 0px
	// background-image: linear-gradient(180deg, #ffffff 83%, #f5f5f6 100%)
	display: flex
	justify-content: center
	align-items: center
	&:hover
		#cta-button
			background-color: darken($button-background, 10%)
			color: white
	&:active
		#cta-button
			background-color: darken($button-background, 25%)
			transform: translate(0px, 3px)
			color: white

#blue-top
	position: absolute
	top: 0px
	width: $banner-width
	height: 77px
	background: #0015EA
	z-index: -5

#thermostat
	position: absolute
	top: 247px
	left: 59px
	width: 121px
	z-index: 2
	img
		width: 100%
		height: 100%

#lightbulb
	position: absolute
	top: 375px
	left: 8px
	z-index: 2
	img
		width: 100%
		height: 100%

#google-mini
	position: absolute
	top: 523px
	left: 44px
	width: 160px
	z-index: 2
	img
		width: 100%
		height: 100%

#top
	position: absolute
	width: $banner-width
	height: $banner-height
	top: 0px
	left: 0px
	display: flex
	justify-content: center
	align-items: center
	z-index: 5

#beacon
	position: absolute
	width: 29px
	top: 32px
	left: 10px
	z-index: 10

#logo
	position: absolute
	width: 86px
	height: auto
	top: 34px
	left: 45px
	z-index: 10

#headline
	position: absolute
	width: 144px
	left: 10px
	height: 112px
	top: 93px
	font-size: 24px
	letter-spacing: -.1px
	line-height: 28px
	font-family: $font-tertiary
	color: $text-color-primary
	text-align: Left
	display: flex
	justify-content: left
	align-items: left
	z-index: 2

#headline-2
	position: absolute
	width: 144px
	left: 10px
	height: 112px
	top: 93px
	font-size: 24px
	letter-spacing: -.1px
	line-height: 28px
	font-family: $font-tertiary
	color: $text-color-primary
	text-align: Left
	display: flex
	justify-content: left
	align-items: left
	z-index: 2

#subhead
	position: absolute
	width: 144px
	height: 42px
	left: 10px
	top: 221px
	font-size: 16px
	line-height: 21px
	font-family: $font-secondary
	color: $text-color-primary
	text-align: left
	display: flex
	justify-content: center
	align-items: center
	z-index: 2

#cta-wrapper
	position: absolute
	width: 188px
	height: 32px
	top: 296px
	display: flex
	justify-content: center
	align-items: flex-start

#cta-button
	position: absolute
	font-size: 14px
	font-family: $font-tertiary
	color: white
	padding: 9px 22px 8px
	border-radius: 25px
	background-color: $button-background

#restrictions
	position: absolute
	top: 38px
	font-size: 8pt
	font-family: $font-secondary
	color: $text-color-primary

#blackborder
	position: absolute
	width: $border-width
	height: $border-height
	height: 598px
	top: 0px
	left: 0px
	border: 1px solid #000
	z-index: 50000

.bold
	font-family: 'proximanova_extrabold'
	display: block
	margin: 4px 0 0 0

/* confetti canvas  */
#particle-canvas
	display: block
	position: fixed
	pointer-events: none
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 1
