body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #171725;
  background-color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  #container:hover #cta-button {
    background-color: #CD162D; }
  #container:active #cta-button {
    background-color: #9F1123; }

#background {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 0; }

#top {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 143px;
  left: 8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1; }

#google-wrapper {
  position: absolute;
  width: 103px;
  height: 18px;
  left: 49px;
  top: 15px;
  background-color: #FFFFFF !important;
  z-index: 2; }

#headline-1a, #headline-1b, #headline-2a, #headline-2b {
  position: absolute;
  width: 170px;
  left: 64px;
  font-size: 14px;
  line-height: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center; }

#headline-1a {
  position: absolute;
  top: 9px; }

#headline-1b {
  position: absolute;
  top: 25px; }

#headline-2a {
  position: absolute;
  top: 9px; }

#headline-2b {
  position: absolute;
  top: 25px; }

#subhead-a, #subhead-b {
  position: absolute;
  width: 94px;
  left: 64px;
  font-size: 14px;
  line-height: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #171725;
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center; }

#subhead-a {
  position: absolute;
  top: 9px; }

#subhead-b {
  position: absolute;
  top: 25px; }

#product {
  position: absolute;
  width: 141px;
  height: 50px;
  right: 0px;
  bottom: 0px;
  z-index: 7; }

#blue-bg {
  position: absolute;
  width: 8px;
  height: 50px;
  right: 0px;
  bottom: 0px;
  background-color: #4285F4;
  z-index: 6; }

#cta-wrapper {
  position: absolute;
  width: 127px;
  height: 41px;
  right: 0px;
  bottom: 0px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start; }

#cta-button {
  position: absolute;
  font-size: 11px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  padding: 7px 16px 6px;
  border-radius: 25px;
  border: 1px solid #FFFFFF !important;
  background-color: #E41932; }

#restrictions {
  position: absolute;
  bottom: 2px;
  font-size: 7pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #171725; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 48px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }
