body {
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF !important;
  display: flex;
  justify-content: center;
  align-items: center; }
  #container:hover #cta-button {
    background-color: #b41227;
    color: white; }
  #container:active #cta-button {
    background-color: #710c19;
    color: white; }

#background {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0px;
  left: 0px;
  z-index: 1; }

#present {
  position: absolute;
  bottom: 0px;
  left: 585px;
  z-index: 2; }

#family {
  position: absolute;
  bottom: 0px;
  left: 570px;
  z-index: 2; }

#top {
  position: absolute;
  width: 728px;
  height: 90px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }

#logo {
  position: absolute;
  width: 56px;
  left: 20px;
  top: 44px;
  transform: translate(0, -50%); }

#headline {
  position: absolute;
  width: 300px;
  left: 100px;
  top: 26px;
  transform: translate(0, -50%);
  font-size: 20px;
  line-height: 24px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: white;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

#headline-2 {
  position: absolute;
  width: 300px;
  left: 100px;
  top: 44px;
  transform: translate(0, -50%);
  font-size: 20px;
  line-height: 24px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: white;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

#subhead {
  position: absolute;
  width: 310px;
  height: 42px;
  left: 100px;
  top: 36px;
  font-size: 16px;
  line-height: 18px;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

#cta-wrapper {
  position: absolute;
  width: 300px;
  height: 90px;
  right: 15px;
  top: 27px;
  display: flex;
  justify-content: left;
  align-items: flex-start; }

#cta-button {
  left: 16px;
  position: absolute;
  font-size: 13px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: black;
  padding: 8px 22px 7px;
  border-radius: 25px;
  border: 1px solid #45372d;
  background-color: white; }

#restrictions {
  position: absolute;
  top: 33px;
  left: 29px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #FFFFFF; }

#blackborder {
  position: absolute;
  width: 726px;
  height: 88px;
  border: 1px solid #000;
  z-index: 50000; }
