body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 248px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background: #F5F5F6; }
  #container:hover #cta-button {
    background-color: #051cff; }
  #container:active #cta-button {
    background-color: #0013d1;
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }

#beacon {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 25px;
  height: 25px;
  z-index: 20; }
  #beacon img {
    width: 100%;
    height: 100%; }

#logo {
  position: absolute;
  left: 45px;
  top: 18px;
  width: 75px;
  height: 24px; }
  #logo img {
    width: 100%;
    height: 100%; }

#google-logo {
  position: absolute;
  left: 141px;
  top: 18px;
  width: 66px;
  height: 25px;
  z-index: 3; }
  #google-logo img {
    width: 100%;
    height: 100%; }

#rule {
  position: absolute;
  left: 132px;
  top: 18px;
  width: 2px;
  height: 25px;
  background: #D8D8D8; }

#bg {
  position: absolute;
  left: 224px;
  top: 0px;
  width: 76ox;
  height: 250px;
  z-index: 2; }

.header {
  position: absolute;
  left: 16px;
  top: 81px;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.2px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

.subhead {
  position: absolute;
  left: 16px;
  top: 81px;
  font-size: 16px;
  line-height: 19px;
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

#exclusive-text {
  position: absolute;
  left: 16px;
  top: 60px;
  font-size: 11px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #E8603A;
  z-index: 10;
  text-transform: uppercase; }

#save-text {
  position: absolute;
  left: 39px;
  top: 168px;
  font-size: 13px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #0015EA;
  z-index: 10; }

#product {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 250px;
  z-index: 10; }
  #product img {
    width: 100%;
    height: 100%; }

.image-container {
  position: absolute;
  left: 186px;
  top: 68px;
  width: 144px;
  height: 165px;
  z-index: 10;
  overflow: hidden; }
  .image-container img {
    width: 100%;
    height: 100%; }

#ontech-person {
  position: absolute;
  left: -86px;
  top: 0px;
  width: 248px;
  height: 165px;
  z-index: 10; }
  #ontech-person img {
    width: 100%;
    height: 100%; }

#cta-wrapper {
  position: relative;
  top: 182px;
  left: 16px;
  width: 114px;
  height: 42px;
  z-index: 5000; }

#cta-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 32px;
  border-radius: 16px;
  z-index: 10;
  background-color: #384AFF; }

#cta-button-inset {
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 32px;
  border-radius: 16px;
  z-index: 8;
  background-color: #0013D1;
  -webkit-transform: translateY(3px);
          transform: translateY(3px); }

#cta-text {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 114px;
  text-align: center; }

#restrictions {
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 114px;
  position: absolute;
  top: 38px;
  left: 0;
  color: #292938;
  text-align: center; }
