body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #292938;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 598px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background: #F5F5F6; }
  #container:hover #cta-button {
    background-color: #051cff; }
  #container:active #cta-button {
    background-color: #0013d1;
    transform: translateY(3px); }

#beacon {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  z-index: 20; }

#logo {
  position: absolute;
  left: 55px;
  top: 20px;
  width: 91px;
  height: 28px; }

#google-logo {
  position: absolute;
  left: 191px;
  top: 19px;
  width: 98px;
  height: auto;
  z-index: 3; }

#rule {
  position: absolute;
  left: 171px;
  top: 17px;
  width: 2px;
  height: 35px;
  background: #D8D8D8; }

#bg {
  position: absolute;
  left: 0px;
  top: 385px;
  width: 300px;
  height: 216px;
  z-index: 2; }

.header {
  position: absolute;
  left: 16px;
  top: 102px;
  font-size: 49px;
  line-height: 53px;
  letter-spacing: -0.43px;
  font-family: "proximanova_thin", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

.subhead {
  position: absolute;
  left: 16px;
  top: 102px;
  font-size: 24px;
  line-height: 28px;
  font-family: "proximanova_semibold", Helvetica, Arial, sans-serif;
  color: #292938;
  text-align: left;
  z-index: 10; }

#exclusive-text {
  position: absolute;
  left: 16px;
  top: 70px;
  font-size: 13px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #E8603A;
  z-index: 10;
  text-transform: uppercase; }

#save-text {
  position: absolute;
  left: 38px;
  top: 229px;
  font-size: 18px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #0015EA;
  z-index: 10; }

#product {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 600px;
  z-index: 10; }
  #product img {
    width: 100%;
    height: 100%; }

.image-container {
  position: absolute;
  left: 26px;
  top: 327px;
  width: 274px;
  height: 245px;
  z-index: 10;
  overflow: hidden; }
  .image-container img {
    width: 100%;
    height: 100%; }

#ontech-person {
  position: absolute;
  left: -124px;
  top: -20px;
  width: 419px;
  height: 279px;
  z-index: 10; }
  #ontech-person img {
    width: 100%;
    height: 100%; }

#cta-wrapper {
  position: relative;
  top: 252px;
  left: 16px;
  width: 138px;
  height: 48px;
  z-index: 5000; }

#cta-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 38px;
  border-radius: 24px;
  z-index: 10;
  background-color: #384AFF; }

#cta-button-inset {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 38px;
  border-radius: 24px;
  z-index: 8;
  background-color: #0013D1;
  transform: translateY(3px); }

#cta-text {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 138px;
  text-align: center; }

#restrictions {
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 138px;
  position: absolute;
  top: 44px;
  left: 0;
  color: #292938;
  text-align: center; }
