@charset "UTF-8";
/* CSS Document */

/* Fonts
-------------------------------------------------- */

@font-face {
    font-family: 'proximanova_medium';
    src: url('../fonts/proximanova_medium_macroman/proximanova-medium-webfont.woff') format('woff');/* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova_extrabold';
    src: url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.woff') format('woff');/* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova_thin';
    src: url('../fonts/proximanova_thin_macroman/proximanova-thin-webfont.woff') format('woff'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
