body {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000108;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 48px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }

#container {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 0px;
  left: 0px;
  cursor: pointer; }
  #container:hover #cta-button {
    background-color: #b61428; }
  #container:active #cta-button {
    background-color: #880f1e; }

#remote {
  position: absolute;
  left: 228px;
  top: 5px;
  width: 49px;
  z-index: 5; }
  #remote img {
    width: 100%;
    height: 100%; }

#logo {
  position: absolute;
  left: 8px;
  top: 12px;
  width: 40px;
  height: 26px; }

#google-logo {
  position: absolute;
  left: 72px;
  top: 8px;
  width: 52px;
  height: 34px; }
  #google-logo img {
    width: 100%;
    height: 100%; }

.header {
  position: absolute;
  left: 64px;
  top: 10px;
  font-size: 13px;
  line-height: 15px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000108;
  width: 250px;
  z-index: 50; }

.header-2 {
  position: absolute;
  left: 136px;
  top: 10px;
  font-size: 14px;
  line-height: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000108;
  z-index: 50; }

.header-3 {
  position: absolute;
  left: 64px;
  top: 10px;
  font-size: 14px;
  line-height: 16px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #000108;
  width: 250px;
  z-index: 50; }

#red-underline-1 {
  position: absolute;
  left: 132px;
  top: 37px;
  width: 102px;
  height: 1.5px;
  background: #E41932; }

#bg {
  position: absolute;
  left: 205px;
  top: 0px;
  width: 95px;
  height: 50px;
  background: #E41932; }

#rule {
  position: absolute;
  left: 60px;
  top: 10px;
  width: 1px;
  height: 31px;
  background: #CCCCCC; }

#cta-wrapper {
  position: absolute;
  top: 7px;
  left: 194px;
  width: 82px;
  height: 33px;
  z-index: 10; }

#cta-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 23px;
  border-radius: 16px;
  z-index: 10;
  background-color: #E41932; }

#cta-text {
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 82px;
  text-align: center; }

#restrictions {
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 7px;
  width: 120px;
  position: absolute;
  top: 33px;
  left: 176px;
  color: #18182A;
  text-align: center; }
