body {
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  background-color: #fff !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

#background {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  z-index: 0; }

#top {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  z-index: 5; }

#logo {
  position: absolute;
  width: 62px;
  top: 11px; }

#headline {
  position: absolute;
  width: 280px;
  height: 62px;
  top: 39px;
  font-size: 21px;
  line-height: 23px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center; }

#text-wrapper {
  position: absolute;
  width: 300px;
  height: 53px;
  bottom: 0px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  z-index: 1; }

#subhead {
  position: absolute;
  width: 150px;
  left: 13px;
  bottom: 8px;
  font-family: "proximanova_bold", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: left; }

#cta-wrapper {
  position: absolute;
  width: 140px;
  height: 62px;
  right: 2px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

#cta-button {
  position: absolute;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 8px 22px 7px;
  border-radius: 25px;
  border: 1px solid #fff !important;
  background-color: #f01446; }

#container:visited #cta-button {
  background-color: #f01446; }

#container:hover #cta-button {
  background-color: #cc113c; }

#container:active #cta-button {
  background-color: #9c0d2e; }

#restrictions {
  position: absolute;
  bottom: 2px;
  font-size: 8pt;
  font-family: "proximanova_regular", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center; }

#blackborder {
  position: absolute;
  width: 298px;
  height: 248px;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  z-index: 50000; }
