body {
  color: #454550;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

#container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  background-color: #F5F5F6 !important;
  z-index: 0; }
  #container:hover {
    cursor: pointer; }
    #container:hover #arrow {
      -webkit-transform: translate(4px, -1px) scale(1.3);
              transform: translate(4px, -1px) scale(1.3); }

#background {
  position: absolute;
  width: 300px;
  left: 0px;
  top: 374px;
  width: 160px;
  height: 226px;
  z-index: 1; }

#beacon {
  position: absolute;
  left: 16px;
  top: 18px;
  width: 32px;
  height: 32px;
  z-index: 20; }

#logo {
  position: absolute;
  left: 54px;
  top: 19.22px;
  width: 92px;
  height: 31.78px; }

#google-logo {
  position: absolute;
  left: 170px;
  top: 16px;
  width: 100px;
  height: 38px; }

#divider {
  position: absolute;
  left: 157px;
  top: 16px;
  width: 1px;
  height: 35px;
  background-color: #B9B8BC; }

#headline {
  position: absolute;
  left: 16px;
  top: 68px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px; }

#subhead {
  position: absolute;
  left: 16px;
  top: 96px;
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 19px; }

#container:visited #cta {
  color: #0015EA; }

#cta-wrapper {
  position: relative;
  left: 16px;
  top: 142px;
  width: 91px;
  height: 17px; }

#cta {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
  color: #0015EA; }

#arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  #arrow img {
    width: 100%;
    height: 100%; }

#restrictions {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 8pt;
  font-family: "proximanova_thin", Helvetica, Arial, sans-serif;
  color: #454550;
  z-index: 10;
  font-family: "proximanova_medium", Helvetica, Arial, sans-serif; }

#background {
  position: absolute;
  left: 0px;
  top: 167px;
  width: 300px;
  height: 83px; }
  #background img {
    width: 100%;
    height: 100%; }

#product {
  position: absolute;
  left: 195px;
  top: 106px;
  height: 115px;
  width: 115px;
  z-index: 200; }
  #product img {
    width: 100%;
    height: 100%; }

#blackborder {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 298px;
  height: 248px;
  border: 1px solid #000;
  z-index: 5000; }
