@charset "UTF-8";
/* CSS Document */

/* Fonts
-------------------------------------------------- */

@font-face {
    font-family: 'proximanova_regular';
    src:  url('../fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff') format('woff'),
        url('../fonts/proximanova_regular_macroman/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff') format('woff'), /* Modern Browsers */
        url('../fonts/proximanova_regular_macroman/proximanova-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/proximanova_regular_macroman/proximanova-regular-webfont.svg#proxima_nova-regular') format('svg'); /* Legacy iOS */;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova_extrabold';
    src:  url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.woff') format('woff'),
        url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.woff') format('woff'), /* Modern Browsers */
        url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.svg#proxima_nova-extrabold') format('svg'); /* Legacy iOS */;
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova_bold';
    src:  url('../fonts/proximanova_bold_macroman/proximanova-bold-webfont.woff') format('woff'),
        url('../fonts/proximanova_bold_macroman/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/proximanova_bold_macroman/proximanova-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/proximanova_bold_macroman/proximanova-bold-webfont.woff') format('woff'), /* Modern Browsers */
        url('../fonts/proximanova_bold_macroman/proximanova-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/proximanova_bold_macroman/proximanova-bold-webfont.svg#proxima_nova-bold') format('svg'); /* Legacy iOS */;
    font-weight: normal;
    font-style: normal;
}